<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a (click)="toggle()">Teki<span class="menu-icon fa fa-bars"></span></a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Scheduler'] " router-active>
        {{ 'headers.scheduler' | translate }}
        <span class="menu-icon fa fa-table"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Setting'] " router-active>
        {{ 'headers.setting' | translate }}
        <span class="menu-icon fa fa-cog"></span>
      </a>
    </li>
  </ul>
</div>
