<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown">
        <a>
          <i class="fa fa-picture-o"></i>
        </a>
      </div>
      <div class="item dropdown">
        <a>
          <i class="fa fa-bell-o"></i>
        </a>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        Scheduler
      </div>
      <div class="breadcrumb-links">
        Home / Scheduler
      </div>
    </div>
  </div>
</div>
