<div>
  <form novalidate [ngFormModel]="form" (ngSubmit)="confirm()" #f="ngForm">
    <div class="col-lg-2 table-cell right-border">
      <input ngControl="firstName"
             placeholder="{{ 'employees.firstName' | translate }}"
             [(ngModel)]="employee.firstName"
             required>
      <control-messages control="firstName"></control-messages>
    </div>
    <div class="col-lg-2 table-cell right-border">
      <input ngControl="lastName"
             placeholder="{{ 'employees.lastName' | translate }}"
             [(ngModel)]="employee.lastName"
             required>
      <control-messages control="lastName"></control-messages>
    </div>
    <div class="col-lg-3 table-cell right-border">
      <input ngControl="phoneNumber"
             placeholder="{{ 'employees.phoneNumber' | translate }}"
             [(ngModel)]="employee.phoneNumber">
    </div>
    <div class="col-lg-3 table-cell right-border">
      <input ngControl="email"
             placeholder="{{ 'employees.email' | translate }}"
             [(ngModel)]="employee.email"
             type="email"
             required>
      <control-messages control="email"></control-messages>
    </div>
    <div  class="col-lg-2 table-cell right-border">
      <button class="btn btn-sm btn-info" type="submit">
        <i class="fa fa-check"></i>
      </button>
      <button class="btn btn-sm btn-info" (click)="cancel()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </form>
</div>
