<div>
  <div *ngIf="!editing" class="col-lg-3 table-cell right-border">{{ shiftTemplate.name }}</div>
  <div *ngIf="!editing" class="col-lg-3 table-cell right-border">{{ shiftTemplate.startTime.local().format('HH:mm a') }}</div>
  <div *ngIf="!editing" class="col-lg-3 table-cell right-border">{{ shiftTemplate.endTime.local().format('HH:mm a') }}</div>
  <div *ngIf="!editing" class="col-lg-3 table-cell right-border">
    <button *ngIf="showEditButton" class="btn btn-sm btn-info" (click)="edit()">
      <i class="pull-right fa fa-pencil-square-o"></i>
    </button>
    <div class="btn btn-sm drag-icon">
      <i class="pull-right fa fa-bars"></i>
    </div>
  </div>

  <form [ngFormModel]="templateForm" (ngSubmit)="confirm()" #f="ngForm">
    <div *ngIf="editing" class="col-lg-3 table-cell right-border editing">
      <div class="vcenter">
        <input ngControl="name"
               placeholder="{{ 'shiftSettings.shiftName' | translate }}"
               [(ngModel)]="tmpShiftTemplate.name"
               required>
        <control-messages control="name"></control-messages>
      </div>
    </div>
    <div *ngIf="editing" class="col-lg-3 table-cell right-border editing">
      <timepicker
        class="timepicker"
        [(ngModel)]="startTime"
        [hourStep]="hstep"
        [minuteStep]="mstep"
        [showMeridian]="ismeridian"
        [max]="endTime"
      ></timepicker>
    </div>
    <div *ngIf="editing" class="col-lg-3 table-cell right-border editing">
      <timepicker
        class="timepicker"
        [(ngModel)]="endTime"
        [hourStep]="hstep"
        [minuteStep]="mstep"
        [showMeridian]="ismeridian"
        [min]="startTime"
      ></timepicker>
    </div>
    <div *ngIf="editing" class="col-lg-3 table-cell right-border editing">
      <div class="vcenter">
        <button class="btn btn-sm btn-info" type="submit" [disabled]="!f.form.valid">
          <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-info" (click)="editing = false">
          <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-sm btn-info" (click)="destroy()">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
  </form>
</div>
