<teki-app-layout>
  <div class="row">
    <div class="col-lg-12">
      <teki-widget>
        <teki-widget-body>
          <div class="title pull-left">
            {{ 'headers.team' | translate }}
          </div>
          <div class="pull-right">
            <a class="btn btn-sm btn-info" (click)="add()" *ngIf="!adding">
              <i class="fa fa-plus"></i>
            </a>
            <a class="btn btn-sm btn-info" (click)="cancel()" *ngIf="adding">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <div class="table-responsive">
            <headers></headers>
            <new-row
              *ngIf="adding"
              class="row"
              (editCancel)="editCancel($event)"
            ></new-row>
            <row
              class="row"
              *ngFor="let employee of employees"
              [employee]="employee">
            </row>
          </div>
        </teki-widget-body>
      </teki-widget>
    </div>
  </div>
</teki-app-layout>

