<div *ngIf="!fetching" class="calendar-size">
  <div *ngIf="shifts && shiftTemplates">
    <headers class="row list-group-item no-bottom-border no-padding"></headers>
    <month
      *ngIf            ="calendarMode === 3"
      [currentDate]    ="currentDate"
      [shifts]         ="shifts"
      [shiftTemplates] ="shiftTemplates"
      [employees]      ="employees | async"
    >
    </month>
    <week
      *ngIf            ="calendarMode === 2"
      class            ="row list-group-item no-bottom-border no-padding"
      [currentDate]    ="currentDate"
      [shifts]         ="shifts"
      [showAll]        ="true"
      [shiftTemplates] ="shiftTemplates"
      [employees]      ="employees | async"
    >
    </week>
  </div>
</div>
<div *ngIf="fetching" class="spinner"></div>
