<div *ngIf="!(employeeService.loading | async) &&
            !(shiftTemplateService.loading | async) &&
            !(shiftService.loading | async)"
     class="calendar-size"
     (window:resize)="onResize($event)">
  <div *ngIf="shifts && shiftTemplates">
    <headers class="row list-group-item no-bottom-border no-padding"
             [width]="width">
    </headers>
    <month
      *ngIf            ="calendarMode === 3"
      [currentDate]    ="currentDate"
      [shifts]         ="shifts | async"
      [shiftTemplates] ="shiftTemplates | async"
      [employees]      ="employees | async"
    >
    </month>
    <week
      *ngIf            ="calendarMode === 2"
      class            ="row list-group-item no-bottom-border no-padding"
      [currentDate]    ="currentDate"
      [shifts]         ="shifts | async"
      [showAll]        ="true"
      [shiftTemplates] ="shiftTemplates | async"
      [employees]      ="employees | async"
      [width]          ="width"
    >
    </week>
  </div>
</div>
<div *ngIf="(employeeService.loading | async) ||
            (shiftTemplateService.loading | async) ||
            (shiftService.loading | async)"
     class="spinner"></div>
