<div class="notification">
  <div class="item dropdown" [class.open]="clicked">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="notify-badge">10</span>
      <i class="fa fa-bell-o bell"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">You have 10 notifications</li>
      <li class="divider"></li>
      <li class="link">
        <a href="#">
          <i class="fa fa-users text-aqua"></i> 5 new members joined today
        </a>
      </li>
      <li class="dropdown-header"><a href="#">View all</a></li>
    </ul>
  </div>
</div>
