<div>
  <div class="col-lg-3 table-cell">
    <input placeholder="{{ 'team.firstName' | translate }}" [(ngModel)]="employee.firstName">
  </div>
  <div class="col-lg-3 table-cell">
    <input placeholder="{{ 'team.lastName' | translate }}" [(ngModel)]="employee.lastName">
  </div>
  <div class="col-lg-3 table-cell">
    <input placeholder="{{ 'team.phoneNumber' | translate }}" [(ngModel)]="employee.phoneNumber">
  </div>
  <div class="col-lg-2">
    <div class="btn btn-sm btn-info" (click)="confirm()">
      <i class="fa fa-check"></i>
    </div>
    <div class="btn btn-sm btn-info" (click)="cancel()">
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>
