<div id="teki-navbar-wrapper">
  <div class="container-fluid">
    <ul class="teki-navbar">
      <li class="teki-navbar-main">
        <a><img class="logo" src="assets/img/teki.svg"></a>
      </li>

      <li class="teki-navbar-list">
        <a [routerLink]=" ['Schedule'] " router-active>
          {{ 'headers.schedule' | translate }}
          <span class="menu-icon fa fa-calendar"></span>
        </a>
      </li>

      <li class="teki-navbar-list">
        <a [routerLink]=" ['Team'] " router-active>
          {{ 'headers.team' | translate }}
          <span class="menu-icon fa fa-users"></span>
        </a>
      </li>

      <teki-user-dropdown></teki-user-dropdown>
    </ul>
  </div>
</div>
