nav a.router-link-active {
  color: #106cc8;
}

.push-to-bottom {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  width: 30px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.menu-logo {
  width: 40px;
  position: relative;
  left: 10px;
}
