<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a (click)="toggle()">
        <img class="logo" src="assets/img/teki.svg">
        Teki
        <span class="menu-icon fa fa-bars" *ngIf="open"></span>
        <span class="menu-icon" *ngIf="!open">
          <img class="menu-logo" src="assets/img/teki.svg">
        </span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Scheduler'] " router-active>
        {{ 'headers.scheduler' | translate }}
        <span class="menu-icon fa fa-calendar-check-o"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Schedule'] " router-active>
        {{ 'headers.schedule' | translate }}
        <span class="menu-icon fa fa-calendar"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['ShiftSettings'] " router-active>
        {{ 'headers.shiftSettings' | translate }}
        <span class="menu-icon fa fa-sliders"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Employees'] " router-active>
        {{ 'headers.employees' | translate }}
        <span class="menu-icon fa fa-briefcase"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Team'] " router-active>
        {{ 'headers.team' | translate }}
        <span class="menu-icon fa fa-users"></span>
      </a>
    </li>
    <li class="sidebar-list" router-active>
      <a [routerLink]=" ['Setting'] " router-active>
        {{ 'headers.setting' | translate }}
        <span class="menu-icon fa fa-cog"></span>
      </a>
    </li>

    <li class="sidebar-list push-to-bottom">
      <a (click)="logout()">
        {{ 'headers.logout' | translate }}
        <span class="menu-icon fa fa-sign-out"></span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer clickable">
    <div class="col-xs-4">
      <a>
        {{ 'headers.about' | translate }}
      </a>
    </div>
    <div class="col-xs-4">
      <a href="mailto:neil@teki.io?Subject=Learn%20more%20about%20Teki" target="_top">
        {{ 'headers.contactUs' | translate }}
      </a>
    </div>
    <div class="col-xs-4">
      <a (click)="logout()">
        {{ 'headers.logout' | translate }}
      </a>
    </div>
  </div>
</div>
