<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.sunday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.monday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.tuesday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.wednesday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.thursday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.friday' | translate }} </li>
<li class="right-border" [style.width.px]="dailyWidth">{{ 'scheduler.saturday' | translate }} </li>

